In [5]:
import pandas as pd
import json

In [2]:
path_to_repo = "/Users/jamie/Desktop/DISCnet_workshop/"

In [7]:
# Load origonal file.
df = pd.read_csv(f"{path_to_repo}example_data/many-tools-classifications.csv")

In [30]:
# Convert list of dicts.
df2 = df['annotations'].apply(json.loads)

In [40]:
# Loop over tasks.
for i in range(5):
    new_df = pd.concat([df[['classification_id', 'user_name']], df2], axis=1)

In [41]:
new_df

,classification_id,user_name,annotations
0,420702379,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
1,420702485,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
2,420702563,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
3,421138797,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
4,421138824,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
5,421138966,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
6,421138993,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
7,421139024,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
8,421139045,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
9,421139066,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
10,421139114,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
11,421139128,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."
12,421139142,cmk24,"[{'task': 'T0', 'task_label': 'What is the cat..."